#jointop {
    width: 900px;
    margin: 0 auto;
}

.jointop h3 {
    text-align: center;
    color: black;
    font-size: 40px;
    line-height: 48px;
    padding: 25px 0 65px;
    position: relative;
    margin-top: 90px;
    /* border-top: 1px solid #bd8a61; */
    text-decoration: overline #bd8a61;
}

.box_top1 {
    width: 900px;
    margin: 0 auto;
}

.box_top1 .topbox h4 span {
    font-size: 36px;
    color: #dadada;
}

.box_top1 .topbox h4 {
    font-size: 27px;
    line-height: 57px;
    border-bottom: 3px solid #bd8a61;
    transform: translateY(1px);
}

.topbox {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.mainbox1 {
    width: 900px;
    height: 900px;
    border: 1px solid #dadada;
    margin: 0 auto;
}

/* 오른쪽 상단 개인정보 글꼴 */

.topbox p span {
    color: #bd8a61;
    font-weight: bold;
}

/* 테이블 박스 */

.mainbox1 {
    padding-top: 50px;
}

.mainbox1 th {
    height: 68px;
    line-height: 68px;
    width: 150px;
    display: inline-block;
}

.jid,
.jname,
.jpw,
.jpw2,
.jcall,
.jadress,
.jemail1,
.jemail2,
.addr1,
.addr2 {
    height: 50px;
    width: 290px;
    border: 1px solid #dadada;
}

.mainbox1 tr {
    height: 68px;
}

.mainbox1 tr td {
    line-height: 50px;
}

.mainbox1 input {
    font-size: 20px;
    padding-left: 10px;
    box-sizing: border-box;
    vertical-align: middle;
}

#join_email1,
#join_email2 {
    width: 290px;
}

.option1 {
    height: 50px;
}

.id_check {
    display: inline-block;
    background-color: #bd8a61;
    text-decoration: none;
    color: white;
    text-align: center;
    width: 120px;
    line-height: 54px;
    transition: all .4s;
    margin-left: 10px;
    vertical-align: middle;
}

.id_check:hover {
    background-color: #945d31
}

.adress_sh {
    display: inline-block;
    background-color: #bd8a61;
    text-decoration: none;
    color: white;
    text-align: center;
    width: 150px;
    line-height: 54px;
    transition: all .4s;
    margin-left: 10px;
    vertical-align: middle;
}

.adress_sh:hover {
    background-color: #945d31;
}

.mainbox1 tr select {
    vertical-align: middle;
    font-size: 20px;
}

#birth1,
#birth2,
#birth3 {
    height: 50px;
    width: 100px;
}

#birth_type1 {
    margin-left: 20px;
}

#birth_type2 {
    margin-left: 10px;
}

#birth_type1,
#birth_type2 {
    height: 50px;
    width: 50px;
}

.birth_ty1,
.birth_ty2 {
    font-weight: bold;
    font-size: 20px;
}

#sex_male,
#sex_female {
    height: 50px;
    width: 50px;
}

#sex_female {
    margin-left: 10px;
}

.male_type,
.female_type {
    font-size: 20px;
    font-weight: bold;
}

.Confirm_btn {
    margin-top: 20px;
    text-align: center;
}

.Confirm_btn1 a {
    display: inline-block;
    background-color:#bd8a61;
    text-decoration: none;
    font-size: 20px;
    color:white;
    text-align: center;
    font-weight: bold;
    
    width: 150px;
    height: 50px;
    line-height: 50px;
    transition: all .4s;
}

.Confirm_btn1:hover a {
    background-color:#945d31;
}

.Confirm_btn2 a {
    display: inline-block;
    background-color:#989898;
    text-decoration: none;
    font-size: 20px;
    color:white;
    text-align: center;
    font-weight: bold;
    
    width: 150px;
    height: 50px;
    line-height: 50px;
    transition: all .4s;
}

.Confirm_btn2:hover a {
    background-color: #5d5d5d;
}