/* =============================================================================== */
/* common */
main {
    width: 80%;
    margin: 0 auto;
}

.sub_title {
    min-height: 30px;
    margin: 50px 0;
    text-align: center;
    font-size: 35px;
    line-height: 48px;
    padding: 25px 0 65px;
    margin-top: 90px;
    text-decoration: overline #bd8a61;
}

.hidden {
    display: none;
}

.community_image,
.community_inner {
    display: flex;
    justify-content: center;
}

.community_image {
    height: 500px;
    width: 100vw;
    background: url(../image/community.jpg) center center/cover no-repeat;
    flex-direction: row;
}

.community_inner {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.community_inner h2 {
    color: #fff;
    font-size: 60px;
    font-weight: 900;
    position: relative;
    top: 0px;
}

.community_inner span {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

/* =============================================================================== */
/* community top */

.sub_top_tab {
    background: #eee;
}

.sub_top_tab ul {
    width: 100vw;
    display: flex;
}

.sub_top_tab ul li {
    flex: 1;
}

.sub_top_tab ul li a {
    color: #7e7e7e;
    border-right: 1px solid #d3d3d3;
    display: block;
    line-height: 65px;
    padding: 0 20px;
    font-weight: bold;
    font-size: 18px;
}

.sub_top_tab ul li a:hover {
    color: #fff;
    background-color: #bd8961;
}

.sub_top_tab ul li:last-child a {
    border-right: none;
}

/* =============================================================================== */
/* ==========Notice========== */

#boardlist .board_col {
    width: 100%;
}

#boardlist .board_col>thead>tr>th {
    padding: 15px 0;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
}

#boardlist .board_col>thead>tr>th:nth-child(1) {
    width: 13%;
}

#boardlist .board_col>thead>tr>th:nth-child(3) {
    width: 10%;
}

#boardlist .board_col>thead>tr>th:nth-child(4) {
    width: 12%;
}

#boardlist .board_col>thead>tr>th:nth-child(5) {
    width: 8%;
}

/* =============================================================================== */
/* ===========SNS=========== */

.sns {
    display: flex;
    flex-direction: row;
}

.insta,
.facebook {
    width: 76px;
    height: 76px;
    cursor: pointer;
    margin-left: 15px;
}

.insta {
    background: url(../image/btn_sns_1.png) no-repeat 0 -76px/100%;
}

.facebook {
    background: url(../image/btn_sns_2.png) no-repeat 0 0/100%;
}

.sns .facebook:hover {
    background-position: 0 -76px;
}

/* =============================================================================== */
/* ===========Event=========== */

.ready {
    width: 100%;
    margin: 100px auto;
    text-align: center;
}

/* =============================================================================== */
/* ===========FAQ=========== */

#boardlist .faq_board {
    border-top: 2px solid #989898;
    padding: 0 40px;
}

#boardlist .faq_board p {
    display: none;
    white-space: pre-line;
}

#boardlist .faq_board input[type="radio"] {
    display: none;
}

#boardlist .faq_board input[type="radio"]+label {
    display: block;
    padding: 10px;
    border-bottom: 1px solid silver;
    cursor: pointer;
    position: relative;
}

#boardlist .icon {
    display: inline-block;
    width: 50px;
    border-radius: 50%;
    background: #2f2b29;
    color: #fff;
    text-align: center;
    line-height: 50px;
    margin-right: 10px;
}

#boardlist .faq_board input[type="radio"]+label::after {
    content: '\f078';
    font-family: 'Font Awesome 5 Free', sans-serif;
    font-weight: 900;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

#boardlist .faq_board input[type="radio"]:checked+label::after {
    content: '\f077';
}

#boardlist .faq_board input[type="radio"]:checked+label+p {
    display: block;
    padding: 20px;
    background-color: #bd896115;
    border-bottom: 1px solid silver;
}

/* =============================================================================== */
/* ===========QNA=========== */

#boardwrite .agree_area {
    margin-bottom: 20px;
    position: relative;
}

#boardwrite .agree_area label.design_chk {
    position: absolute;
    z-index: 5;
    top: 35px;
    color: #fff;
    padding-left: 25px;
    cursor: pointer;
}

#boardwrite .agree_area dl dt {
    background: #bd8961;
    padding: 35px 35px;
    position: relative;
    cursor: pointer;
    text-indent: -9999px;
}

#boardwrite .agree_area dl dd {
    background: #f8f8f8;
}

#boardwrite .tbl_row th,
#boardwrite .tbl_row td {
    border-bottom: 1px solid #e0e0e0;
}

#boardwrite .tbl_row th {
    width: 20%;
    color: #2f2b29;
}

#boardwrite .tbl_row td {
    width: 50%;
    line-height: 40px;
    padding: 15px;
}

/* ======================form===================== */

#boardwrite .board_row {
    padding: 30px;
}

#boardwrite .board_row th {
    width: 30%;
}

#boardwrite .board_row td {
    padding: 30px 0;
    width: 100%;
}

#boardwrite .board_row td select,
#boardwrite .board_row td input[type='text'],
#boardwrite .board_row td input[type='password'] {
    line-height: 50px;
    height: 50px;
    border: 1px solid #dadada;
    border-radius: 3px;
    background: #f8f8f8;
    padding: 0 10px;
}

#boardwrite .board_row td textarea {
    border: 1px solid #dadada;
    border-radius: 3px;
    background: #f8f8f8;
    padding: 10px;
    width: 700px;
    height: 300px;
    resize: none;
}

#boardwrite form {
    border: 1px solid #dadada;
    border-top: 2px solid #989898;
    border-bottom: 2px solid #989898;
}

.btn {
    padding: 20px 0;
    text-align: center;
}

.btn>input {
    width: 150px;
    padding: 12px 16px;
    border: none;
    background: #bd8a61;
    color: #fff;
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
}