
/* @@@@@@@@@@@@@@@@@@@@@@ main page @@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

main {
    width: 80%;
    margin: 0 auto;
    margin-top: 150px;
}

.M_bigimg {
    display: flex;
    justify-content: center;
}

.M_bigimg img {
    width: 100%;
    margin-bottom: 5%;
}

.M_recommend {
    margin-top: 5%;
}

.M_recommend_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1%;
}

.M_recommend_item {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
}

.M_recommend_item img {
    width: 100%;
}