* {
    margin: 0;
    padding: 0;
}

#wrap {
    min-height: 100vh;
    position: relative;
    width: 100%;
}

section {
    padding-bottom: 105px;
}

footer {
    background-color: grey;
    width: 100%;
    height: 110px;
    position: absolute;
    bottom: 0px;
    border-top: 1px solid silver;
    padding-top: 15px;
    color: rgba(255, 255, 255, 0.56);
    font-size: 11px;
    text-align: center;
}

footer a {
    display: inline-block;
    margin: 0 20px 10px 20px;
    font-size: 11px;
    color: rgba(255, 255, 255, 0.56);
    text-decoration: none;
}

footer p {
    margin-top: 0;
    margin-bottom: 0;
}

footer span {
    text-align: center;
    display: inline-block;
    margin-left: 5px;
}

/* footer nav ::after {
    margin: 0 20px 0 20px;
    font-size: 15px;
    content: "|";
} */