body {
  position: relative;
}

div#popup {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 200;
  background-color: #333333a0;
}

div.popup-body {
  margin: 0 auto;
  background-color: #ffffff;
  width: 640px;
  height: 424px;
  border-radius: 20px;
  padding: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2 {
  font-size: 24px;
  margin: 24px;
}

.pop-table {
  margin: 24px;
  border-top: 2px solid #171717;
  border-bottom: 1px solid #171717;
  table-layout: fixed;
}

.pop-table tbody th {
  height: 68px;
  padding-left: 43px;
  color: #333;
  font-size: 14px;
  border-top: 1px solid #d9d9d9;
  text-align: left;
}

.pop-table tbody td {
  padding: 0 19px;
  color: #000;
  font-size: 14px;
  border-top: 1px solid #d9d9d9;
}

.pop-table tbody tr:first-of-type td,
.pop-table tbody tr:first-of-type th {
  border-top: none;
}

.pop-table tbody td input[type=text],
.pop-table tbody td textarea,
.pop-table tbody td input[type=password] {
  width: 400px;
}

.pop-table input {
  width: 400px;
  height: 40px;
  line-height: 38px;
  padding-left: 20px;
  border: none;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  font-size: 14px;
}

.btn_wrap {
  margin-top: 30px;
  text-align: center;
}

.btn_wrap button {
  width: 150px;
  padding: 12px 16px;
  margin: 10px;
  border: none;
  background: #bd8a61;
  color: #fff;
  text-align: center;
}

.btn_wrap button:nth-child(2) {
  background-color: #514547;
}